extends layout
 
block content
  h1= title
  - let hats = results;
 
  div(class="container-fluid")
      each hat in hats
        - let destination = `dispatch("/hatss/update?id=${hat._id}")`
        div(class="col-sm-2")
          p HatName: #{hat.costume_type}
          p HatCost: $#{hat.cost}
          p HatSize: #{hat.size}
        button.btn.btn-sm.btn-primary.ml-1(onclick= destination) Update
        br
        br
 
  script.
    function dispatch(path) {
      window.location.href = path;
    }
 